* {
  color: #282c34;
}
.App {
  background-color: #ccc;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  margin: 0;
  padding: 20px;
}
.App-header h1 {
  color: white;
  margin: 0;
}

.Rounds {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.Round {
  margin: 20px 0;
  border: 6px solid #282c34;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
}
.Round h2 {
  background-color: #282c34;
  color: white;
  padding: 10px;
  margin: 0;
}
.Matches {
  display: flex;
}
.Match {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  background-color: #eee;
  border-right: 6px solid #282c34;
}
.Match:last-of-type {
  border: none;
}
.Match h2 {
  display: flex;
  text-transform: capitalize;
  background-color: lightblue;
}
.Match h2 .teams {
  flex: 1;
}
.Match > div {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.Match > div:nth-of-type(2n+1) {
  background-color: #cfc;
}
.Match > div > h3 {
  flex: 1;
  margin: 0 10px 0 0;
}

label {
  margin-right: 20px;
  cursor: pointer;
  display: inline-block;
}
label:last-of-type {
  margin-right: 0;
}
input {
  padding: 10px;
  border: 0;
  background-color: #fff;
}
.Footer {
  text-align: center;
}

@media screen and (max-width: 1250px ) {
  .Matches {
    flex-direction: column;
  }
  .Match {
    border-right: none;
    border-bottom: 6px solid #282c34;
  }
}

@media screen and (max-width: 480px) {
  .Rounds {
    padding: 0 5px;
  }
}
